/* === Generated Tailwind-like CSS === */

    /* Flex Utilities */
    .flex { display:flex; }
@media (min-width: 475px) {
      .xs\:flex { display:flex; }
    }
@media (min-width: 640px) {
      .sm\:flex { display:flex; }
    }
@media (min-width: 768px) {
      .md\:flex { display:flex; }
    }
@media (min-width: 1024px) {
      .lg\:flex { display:flex; }
    }
@media (min-width: 1280px) {
      .xl\:flex { display:flex; }
    }
@media (min-width: 1536px) {
      .2xl\:flex { display:flex; }
    }

    .grid { display:grid; }
@media (min-width: 475px) {
      .xs\:grid { display:grid; }
    }
@media (min-width: 640px) {
      .sm\:grid { display:grid; }
    }
@media (min-width: 768px) {
      .md\:grid { display:grid; }
    }
@media (min-width: 1024px) {
      .lg\:grid { display:grid; }
    }
@media (min-width: 1280px) {
      .xl\:grid { display:grid; }
    }
@media (min-width: 1536px) {
      .2xl\:grid { display:grid; }
    }

    .flex-row { flex-direction:row; }
@media (min-width: 475px) {
      .xs\:flex-row { flex-direction:row; }
    }
@media (min-width: 640px) {
      .sm\:flex-row { flex-direction:row; }
    }
@media (min-width: 768px) {
      .md\:flex-row { flex-direction:row; }
    }
@media (min-width: 1024px) {
      .lg\:flex-row { flex-direction:row; }
    }
@media (min-width: 1280px) {
      .xl\:flex-row { flex-direction:row; }
    }
@media (min-width: 1536px) {
      .2xl\:flex-row { flex-direction:row; }
    }

    .flex-col { flex-direction:column; }
@media (min-width: 475px) {
      .xs\:flex-col { flex-direction:column; }
    }
@media (min-width: 640px) {
      .sm\:flex-col { flex-direction:column; }
    }
@media (min-width: 768px) {
      .md\:flex-col { flex-direction:column; }
    }
@media (min-width: 1024px) {
      .lg\:flex-col { flex-direction:column; }
    }
@media (min-width: 1280px) {
      .xl\:flex-col { flex-direction:column; }
    }
@media (min-width: 1536px) {
      .2xl\:flex-col { flex-direction:column; }
    }

    .flex-wrap { flex-wrap:wrap; }
@media (min-width: 475px) {
      .xs\:flex-wrap { flex-wrap:wrap; }
    }
@media (min-width: 640px) {
      .sm\:flex-wrap { flex-wrap:wrap; }
    }
@media (min-width: 768px) {
      .md\:flex-wrap { flex-wrap:wrap; }
    }
@media (min-width: 1024px) {
      .lg\:flex-wrap { flex-wrap:wrap; }
    }
@media (min-width: 1280px) {
      .xl\:flex-wrap { flex-wrap:wrap; }
    }
@media (min-width: 1536px) {
      .2xl\:flex-wrap { flex-wrap:wrap; }
    }

    .flex-nowrap { flex-wrap:nowrap; }
@media (min-width: 475px) {
      .xs\:flex-nowrap { flex-wrap:nowrap; }
    }
@media (min-width: 640px) {
      .sm\:flex-nowrap { flex-wrap:nowrap; }
    }
@media (min-width: 768px) {
      .md\:flex-nowrap { flex-wrap:nowrap; }
    }
@media (min-width: 1024px) {
      .lg\:flex-nowrap { flex-wrap:nowrap; }
    }
@media (min-width: 1280px) {
      .xl\:flex-nowrap { flex-wrap:nowrap; }
    }
@media (min-width: 1536px) {
      .2xl\:flex-nowrap { flex-wrap:nowrap; }
    }

    .justify-center { justify-content:center; }
@media (min-width: 475px) {
      .xs\:justify-center { justify-content:center; }
    }
@media (min-width: 640px) {
      .sm\:justify-center { justify-content:center; }
    }
@media (min-width: 768px) {
      .md\:justify-center { justify-content:center; }
    }
@media (min-width: 1024px) {
      .lg\:justify-center { justify-content:center; }
    }
@media (min-width: 1280px) {
      .xl\:justify-center { justify-content:center; }
    }
@media (min-width: 1536px) {
      .2xl\:justify-center { justify-content:center; }
    }

    .justify-between { justify-content:space-between; }
@media (min-width: 475px) {
      .xs\:justify-between { justify-content:space-between; }
    }
@media (min-width: 640px) {
      .sm\:justify-between { justify-content:space-between; }
    }
@media (min-width: 768px) {
      .md\:justify-between { justify-content:space-between; }
    }
@media (min-width: 1024px) {
      .lg\:justify-between { justify-content:space-between; }
    }
@media (min-width: 1280px) {
      .xl\:justify-between { justify-content:space-between; }
    }
@media (min-width: 1536px) {
      .2xl\:justify-between { justify-content:space-between; }
    }

    .items-center { align-items:center; }
@media (min-width: 475px) {
      .xs\:items-center { align-items:center; }
    }
@media (min-width: 640px) {
      .sm\:items-center { align-items:center; }
    }
@media (min-width: 768px) {
      .md\:items-center { align-items:center; }
    }
@media (min-width: 1024px) {
      .lg\:items-center { align-items:center; }
    }
@media (min-width: 1280px) {
      .xl\:items-center { align-items:center; }
    }
@media (min-width: 1536px) {
      .2xl\:items-center { align-items:center; }
    }

    .items-start { align-items:flex-start; }
@media (min-width: 475px) {
      .xs\:items-start { align-items:flex-start; }
    }
@media (min-width: 640px) {
      .sm\:items-start { align-items:flex-start; }
    }
@media (min-width: 768px) {
      .md\:items-start { align-items:flex-start; }
    }
@media (min-width: 1024px) {
      .lg\:items-start { align-items:flex-start; }
    }
@media (min-width: 1280px) {
      .xl\:items-start { align-items:flex-start; }
    }
@media (min-width: 1536px) {
      .2xl\:items-start { align-items:flex-start; }
    }

    .items-end { align-items:flex-end; }
@media (min-width: 475px) {
      .xs\:items-end { align-items:flex-end; }
    }
@media (min-width: 640px) {
      .sm\:items-end { align-items:flex-end; }
    }
@media (min-width: 768px) {
      .md\:items-end { align-items:flex-end; }
    }
@media (min-width: 1024px) {
      .lg\:items-end { align-items:flex-end; }
    }
@media (min-width: 1280px) {
      .xl\:items-end { align-items:flex-end; }
    }
@media (min-width: 1536px) {
      .2xl\:items-end { align-items:flex-end; }
    }

  .grid-cols-1 { grid-template-columns:repeat(1,minmax(0,1fr)); }
@media (min-width: 475px) {
      .xs\:grid-cols-1 { grid-template-columns:repeat(1,minmax(0,1fr)); }
    }
@media (min-width: 640px) {
      .sm\:grid-cols-1 { grid-template-columns:repeat(1,minmax(0,1fr)); }
    }
@media (min-width: 768px) {
      .md\:grid-cols-1 { grid-template-columns:repeat(1,minmax(0,1fr)); }
    }
@media (min-width: 1024px) {
      .lg\:grid-cols-1 { grid-template-columns:repeat(1,minmax(0,1fr)); }
    }
@media (min-width: 1280px) {
      .xl\:grid-cols-1 { grid-template-columns:repeat(1,minmax(0,1fr)); }
    }
@media (min-width: 1536px) {
      .2xl\:grid-cols-1 { grid-template-columns:repeat(1,minmax(0,1fr)); }
    }
.col-span-1 { grid-column:span 1 / span 1; }
@media (min-width: 475px) {
      .xs\:col-span-1 { grid-column:span 1 / span 1; }
    }
@media (min-width: 640px) {
      .sm\:col-span-1 { grid-column:span 1 / span 1; }
    }
@media (min-width: 768px) {
      .md\:col-span-1 { grid-column:span 1 / span 1; }
    }
@media (min-width: 1024px) {
      .lg\:col-span-1 { grid-column:span 1 / span 1; }
    }
@media (min-width: 1280px) {
      .xl\:col-span-1 { grid-column:span 1 / span 1; }
    }
@media (min-width: 1536px) {
      .2xl\:col-span-1 { grid-column:span 1 / span 1; }
    }
.grid-cols-2 { grid-template-columns:repeat(2,minmax(0,1fr)); }
@media (min-width: 475px) {
      .xs\:grid-cols-2 { grid-template-columns:repeat(2,minmax(0,1fr)); }
    }
@media (min-width: 640px) {
      .sm\:grid-cols-2 { grid-template-columns:repeat(2,minmax(0,1fr)); }
    }
@media (min-width: 768px) {
      .md\:grid-cols-2 { grid-template-columns:repeat(2,minmax(0,1fr)); }
    }
@media (min-width: 1024px) {
      .lg\:grid-cols-2 { grid-template-columns:repeat(2,minmax(0,1fr)); }
    }
@media (min-width: 1280px) {
      .xl\:grid-cols-2 { grid-template-columns:repeat(2,minmax(0,1fr)); }
    }
@media (min-width: 1536px) {
      .2xl\:grid-cols-2 { grid-template-columns:repeat(2,minmax(0,1fr)); }
    }
.col-span-2 { grid-column:span 2 / span 2; }
@media (min-width: 475px) {
      .xs\:col-span-2 { grid-column:span 2 / span 2; }
    }
@media (min-width: 640px) {
      .sm\:col-span-2 { grid-column:span 2 / span 2; }
    }
@media (min-width: 768px) {
      .md\:col-span-2 { grid-column:span 2 / span 2; }
    }
@media (min-width: 1024px) {
      .lg\:col-span-2 { grid-column:span 2 / span 2; }
    }
@media (min-width: 1280px) {
      .xl\:col-span-2 { grid-column:span 2 / span 2; }
    }
@media (min-width: 1536px) {
      .2xl\:col-span-2 { grid-column:span 2 / span 2; }
    }
.grid-cols-3 { grid-template-columns:repeat(3,minmax(0,1fr)); }
@media (min-width: 475px) {
      .xs\:grid-cols-3 { grid-template-columns:repeat(3,minmax(0,1fr)); }
    }
@media (min-width: 640px) {
      .sm\:grid-cols-3 { grid-template-columns:repeat(3,minmax(0,1fr)); }
    }
@media (min-width: 768px) {
      .md\:grid-cols-3 { grid-template-columns:repeat(3,minmax(0,1fr)); }
    }
@media (min-width: 1024px) {
      .lg\:grid-cols-3 { grid-template-columns:repeat(3,minmax(0,1fr)); }
    }
@media (min-width: 1280px) {
      .xl\:grid-cols-3 { grid-template-columns:repeat(3,minmax(0,1fr)); }
    }
@media (min-width: 1536px) {
      .2xl\:grid-cols-3 { grid-template-columns:repeat(3,minmax(0,1fr)); }
    }
.col-span-3 { grid-column:span 3 / span 3; }
@media (min-width: 475px) {
      .xs\:col-span-3 { grid-column:span 3 / span 3; }
    }
@media (min-width: 640px) {
      .sm\:col-span-3 { grid-column:span 3 / span 3; }
    }
@media (min-width: 768px) {
      .md\:col-span-3 { grid-column:span 3 / span 3; }
    }
@media (min-width: 1024px) {
      .lg\:col-span-3 { grid-column:span 3 / span 3; }
    }
@media (min-width: 1280px) {
      .xl\:col-span-3 { grid-column:span 3 / span 3; }
    }
@media (min-width: 1536px) {
      .2xl\:col-span-3 { grid-column:span 3 / span 3; }
    }
.grid-cols-4 { grid-template-columns:repeat(4,minmax(0,1fr)); }
@media (min-width: 475px) {
      .xs\:grid-cols-4 { grid-template-columns:repeat(4,minmax(0,1fr)); }
    }
@media (min-width: 640px) {
      .sm\:grid-cols-4 { grid-template-columns:repeat(4,minmax(0,1fr)); }
    }
@media (min-width: 768px) {
      .md\:grid-cols-4 { grid-template-columns:repeat(4,minmax(0,1fr)); }
    }
@media (min-width: 1024px) {
      .lg\:grid-cols-4 { grid-template-columns:repeat(4,minmax(0,1fr)); }
    }
@media (min-width: 1280px) {
      .xl\:grid-cols-4 { grid-template-columns:repeat(4,minmax(0,1fr)); }
    }
@media (min-width: 1536px) {
      .2xl\:grid-cols-4 { grid-template-columns:repeat(4,minmax(0,1fr)); }
    }
.col-span-4 { grid-column:span 4 / span 4; }
@media (min-width: 475px) {
      .xs\:col-span-4 { grid-column:span 4 / span 4; }
    }
@media (min-width: 640px) {
      .sm\:col-span-4 { grid-column:span 4 / span 4; }
    }
@media (min-width: 768px) {
      .md\:col-span-4 { grid-column:span 4 / span 4; }
    }
@media (min-width: 1024px) {
      .lg\:col-span-4 { grid-column:span 4 / span 4; }
    }
@media (min-width: 1280px) {
      .xl\:col-span-4 { grid-column:span 4 / span 4; }
    }
@media (min-width: 1536px) {
      .2xl\:col-span-4 { grid-column:span 4 / span 4; }
    }
.grid-cols-5 { grid-template-columns:repeat(5,minmax(0,1fr)); }
@media (min-width: 475px) {
      .xs\:grid-cols-5 { grid-template-columns:repeat(5,minmax(0,1fr)); }
    }
@media (min-width: 640px) {
      .sm\:grid-cols-5 { grid-template-columns:repeat(5,minmax(0,1fr)); }
    }
@media (min-width: 768px) {
      .md\:grid-cols-5 { grid-template-columns:repeat(5,minmax(0,1fr)); }
    }
@media (min-width: 1024px) {
      .lg\:grid-cols-5 { grid-template-columns:repeat(5,minmax(0,1fr)); }
    }
@media (min-width: 1280px) {
      .xl\:grid-cols-5 { grid-template-columns:repeat(5,minmax(0,1fr)); }
    }
@media (min-width: 1536px) {
      .2xl\:grid-cols-5 { grid-template-columns:repeat(5,minmax(0,1fr)); }
    }
.col-span-5 { grid-column:span 5 / span 5; }
@media (min-width: 475px) {
      .xs\:col-span-5 { grid-column:span 5 / span 5; }
    }
@media (min-width: 640px) {
      .sm\:col-span-5 { grid-column:span 5 / span 5; }
    }
@media (min-width: 768px) {
      .md\:col-span-5 { grid-column:span 5 / span 5; }
    }
@media (min-width: 1024px) {
      .lg\:col-span-5 { grid-column:span 5 / span 5; }
    }
@media (min-width: 1280px) {
      .xl\:col-span-5 { grid-column:span 5 / span 5; }
    }
@media (min-width: 1536px) {
      .2xl\:col-span-5 { grid-column:span 5 / span 5; }
    }
.grid-cols-6 { grid-template-columns:repeat(6,minmax(0,1fr)); }
@media (min-width: 475px) {
      .xs\:grid-cols-6 { grid-template-columns:repeat(6,minmax(0,1fr)); }
    }
@media (min-width: 640px) {
      .sm\:grid-cols-6 { grid-template-columns:repeat(6,minmax(0,1fr)); }
    }
@media (min-width: 768px) {
      .md\:grid-cols-6 { grid-template-columns:repeat(6,minmax(0,1fr)); }
    }
@media (min-width: 1024px) {
      .lg\:grid-cols-6 { grid-template-columns:repeat(6,minmax(0,1fr)); }
    }
@media (min-width: 1280px) {
      .xl\:grid-cols-6 { grid-template-columns:repeat(6,minmax(0,1fr)); }
    }
@media (min-width: 1536px) {
      .2xl\:grid-cols-6 { grid-template-columns:repeat(6,minmax(0,1fr)); }
    }
.col-span-6 { grid-column:span 6 / span 6; }
@media (min-width: 475px) {
      .xs\:col-span-6 { grid-column:span 6 / span 6; }
    }
@media (min-width: 640px) {
      .sm\:col-span-6 { grid-column:span 6 / span 6; }
    }
@media (min-width: 768px) {
      .md\:col-span-6 { grid-column:span 6 / span 6; }
    }
@media (min-width: 1024px) {
      .lg\:col-span-6 { grid-column:span 6 / span 6; }
    }
@media (min-width: 1280px) {
      .xl\:col-span-6 { grid-column:span 6 / span 6; }
    }
@media (min-width: 1536px) {
      .2xl\:col-span-6 { grid-column:span 6 / span 6; }
    }
.grid-cols-7 { grid-template-columns:repeat(7,minmax(0,1fr)); }
@media (min-width: 475px) {
      .xs\:grid-cols-7 { grid-template-columns:repeat(7,minmax(0,1fr)); }
    }
@media (min-width: 640px) {
      .sm\:grid-cols-7 { grid-template-columns:repeat(7,minmax(0,1fr)); }
    }
@media (min-width: 768px) {
      .md\:grid-cols-7 { grid-template-columns:repeat(7,minmax(0,1fr)); }
    }
@media (min-width: 1024px) {
      .lg\:grid-cols-7 { grid-template-columns:repeat(7,minmax(0,1fr)); }
    }
@media (min-width: 1280px) {
      .xl\:grid-cols-7 { grid-template-columns:repeat(7,minmax(0,1fr)); }
    }
@media (min-width: 1536px) {
      .2xl\:grid-cols-7 { grid-template-columns:repeat(7,minmax(0,1fr)); }
    }
.col-span-7 { grid-column:span 7 / span 7; }
@media (min-width: 475px) {
      .xs\:col-span-7 { grid-column:span 7 / span 7; }
    }
@media (min-width: 640px) {
      .sm\:col-span-7 { grid-column:span 7 / span 7; }
    }
@media (min-width: 768px) {
      .md\:col-span-7 { grid-column:span 7 / span 7; }
    }
@media (min-width: 1024px) {
      .lg\:col-span-7 { grid-column:span 7 / span 7; }
    }
@media (min-width: 1280px) {
      .xl\:col-span-7 { grid-column:span 7 / span 7; }
    }
@media (min-width: 1536px) {
      .2xl\:col-span-7 { grid-column:span 7 / span 7; }
    }
.grid-cols-8 { grid-template-columns:repeat(8,minmax(0,1fr)); }
@media (min-width: 475px) {
      .xs\:grid-cols-8 { grid-template-columns:repeat(8,minmax(0,1fr)); }
    }
@media (min-width: 640px) {
      .sm\:grid-cols-8 { grid-template-columns:repeat(8,minmax(0,1fr)); }
    }
@media (min-width: 768px) {
      .md\:grid-cols-8 { grid-template-columns:repeat(8,minmax(0,1fr)); }
    }
@media (min-width: 1024px) {
      .lg\:grid-cols-8 { grid-template-columns:repeat(8,minmax(0,1fr)); }
    }
@media (min-width: 1280px) {
      .xl\:grid-cols-8 { grid-template-columns:repeat(8,minmax(0,1fr)); }
    }
@media (min-width: 1536px) {
      .2xl\:grid-cols-8 { grid-template-columns:repeat(8,minmax(0,1fr)); }
    }
.col-span-8 { grid-column:span 8 / span 8; }
@media (min-width: 475px) {
      .xs\:col-span-8 { grid-column:span 8 / span 8; }
    }
@media (min-width: 640px) {
      .sm\:col-span-8 { grid-column:span 8 / span 8; }
    }
@media (min-width: 768px) {
      .md\:col-span-8 { grid-column:span 8 / span 8; }
    }
@media (min-width: 1024px) {
      .lg\:col-span-8 { grid-column:span 8 / span 8; }
    }
@media (min-width: 1280px) {
      .xl\:col-span-8 { grid-column:span 8 / span 8; }
    }
@media (min-width: 1536px) {
      .2xl\:col-span-8 { grid-column:span 8 / span 8; }
    }
.grid-cols-9 { grid-template-columns:repeat(9,minmax(0,1fr)); }
@media (min-width: 475px) {
      .xs\:grid-cols-9 { grid-template-columns:repeat(9,minmax(0,1fr)); }
    }
@media (min-width: 640px) {
      .sm\:grid-cols-9 { grid-template-columns:repeat(9,minmax(0,1fr)); }
    }
@media (min-width: 768px) {
      .md\:grid-cols-9 { grid-template-columns:repeat(9,minmax(0,1fr)); }
    }
@media (min-width: 1024px) {
      .lg\:grid-cols-9 { grid-template-columns:repeat(9,minmax(0,1fr)); }
    }
@media (min-width: 1280px) {
      .xl\:grid-cols-9 { grid-template-columns:repeat(9,minmax(0,1fr)); }
    }
@media (min-width: 1536px) {
      .2xl\:grid-cols-9 { grid-template-columns:repeat(9,minmax(0,1fr)); }
    }
.col-span-9 { grid-column:span 9 / span 9; }
@media (min-width: 475px) {
      .xs\:col-span-9 { grid-column:span 9 / span 9; }
    }
@media (min-width: 640px) {
      .sm\:col-span-9 { grid-column:span 9 / span 9; }
    }
@media (min-width: 768px) {
      .md\:col-span-9 { grid-column:span 9 / span 9; }
    }
@media (min-width: 1024px) {
      .lg\:col-span-9 { grid-column:span 9 / span 9; }
    }
@media (min-width: 1280px) {
      .xl\:col-span-9 { grid-column:span 9 / span 9; }
    }
@media (min-width: 1536px) {
      .2xl\:col-span-9 { grid-column:span 9 / span 9; }
    }
.grid-cols-10 { grid-template-columns:repeat(10,minmax(0,1fr)); }
@media (min-width: 475px) {
      .xs\:grid-cols-10 { grid-template-columns:repeat(10,minmax(0,1fr)); }
    }
@media (min-width: 640px) {
      .sm\:grid-cols-10 { grid-template-columns:repeat(10,minmax(0,1fr)); }
    }
@media (min-width: 768px) {
      .md\:grid-cols-10 { grid-template-columns:repeat(10,minmax(0,1fr)); }
    }
@media (min-width: 1024px) {
      .lg\:grid-cols-10 { grid-template-columns:repeat(10,minmax(0,1fr)); }
    }
@media (min-width: 1280px) {
      .xl\:grid-cols-10 { grid-template-columns:repeat(10,minmax(0,1fr)); }
    }
@media (min-width: 1536px) {
      .2xl\:grid-cols-10 { grid-template-columns:repeat(10,minmax(0,1fr)); }
    }
.col-span-10 { grid-column:span 10 / span 10; }
@media (min-width: 475px) {
      .xs\:col-span-10 { grid-column:span 10 / span 10; }
    }
@media (min-width: 640px) {
      .sm\:col-span-10 { grid-column:span 10 / span 10; }
    }
@media (min-width: 768px) {
      .md\:col-span-10 { grid-column:span 10 / span 10; }
    }
@media (min-width: 1024px) {
      .lg\:col-span-10 { grid-column:span 10 / span 10; }
    }
@media (min-width: 1280px) {
      .xl\:col-span-10 { grid-column:span 10 / span 10; }
    }
@media (min-width: 1536px) {
      .2xl\:col-span-10 { grid-column:span 10 / span 10; }
    }
.grid-cols-11 { grid-template-columns:repeat(11,minmax(0,1fr)); }
@media (min-width: 475px) {
      .xs\:grid-cols-11 { grid-template-columns:repeat(11,minmax(0,1fr)); }
    }
@media (min-width: 640px) {
      .sm\:grid-cols-11 { grid-template-columns:repeat(11,minmax(0,1fr)); }
    }
@media (min-width: 768px) {
      .md\:grid-cols-11 { grid-template-columns:repeat(11,minmax(0,1fr)); }
    }
@media (min-width: 1024px) {
      .lg\:grid-cols-11 { grid-template-columns:repeat(11,minmax(0,1fr)); }
    }
@media (min-width: 1280px) {
      .xl\:grid-cols-11 { grid-template-columns:repeat(11,minmax(0,1fr)); }
    }
@media (min-width: 1536px) {
      .2xl\:grid-cols-11 { grid-template-columns:repeat(11,minmax(0,1fr)); }
    }
.col-span-11 { grid-column:span 11 / span 11; }
@media (min-width: 475px) {
      .xs\:col-span-11 { grid-column:span 11 / span 11; }
    }
@media (min-width: 640px) {
      .sm\:col-span-11 { grid-column:span 11 / span 11; }
    }
@media (min-width: 768px) {
      .md\:col-span-11 { grid-column:span 11 / span 11; }
    }
@media (min-width: 1024px) {
      .lg\:col-span-11 { grid-column:span 11 / span 11; }
    }
@media (min-width: 1280px) {
      .xl\:col-span-11 { grid-column:span 11 / span 11; }
    }
@media (min-width: 1536px) {
      .2xl\:col-span-11 { grid-column:span 11 / span 11; }
    }
.grid-cols-12 { grid-template-columns:repeat(12,minmax(0,1fr)); }
@media (min-width: 475px) {
      .xs\:grid-cols-12 { grid-template-columns:repeat(12,minmax(0,1fr)); }
    }
@media (min-width: 640px) {
      .sm\:grid-cols-12 { grid-template-columns:repeat(12,minmax(0,1fr)); }
    }
@media (min-width: 768px) {
      .md\:grid-cols-12 { grid-template-columns:repeat(12,minmax(0,1fr)); }
    }
@media (min-width: 1024px) {
      .lg\:grid-cols-12 { grid-template-columns:repeat(12,minmax(0,1fr)); }
    }
@media (min-width: 1280px) {
      .xl\:grid-cols-12 { grid-template-columns:repeat(12,minmax(0,1fr)); }
    }
@media (min-width: 1536px) {
      .2xl\:grid-cols-12 { grid-template-columns:repeat(12,minmax(0,1fr)); }
    }
.col-span-12 { grid-column:span 12 / span 12; }
@media (min-width: 475px) {
      .xs\:col-span-12 { grid-column:span 12 / span 12; }
    }
@media (min-width: 640px) {
      .sm\:col-span-12 { grid-column:span 12 / span 12; }
    }
@media (min-width: 768px) {
      .md\:col-span-12 { grid-column:span 12 / span 12; }
    }
@media (min-width: 1024px) {
      .lg\:col-span-12 { grid-column:span 12 / span 12; }
    }
@media (min-width: 1280px) {
      .xl\:col-span-12 { grid-column:span 12 / span 12; }
    }
@media (min-width: 1536px) {
      .2xl\:col-span-12 { grid-column:span 12 / span 12; }
    }
.p-0 { padding:0rem; }
@media (min-width: 475px) {
      .xs\:p-0 { padding:0rem; }
    }
@media (min-width: 640px) {
      .sm\:p-0 { padding:0rem; }
    }
@media (min-width: 768px) {
      .md\:p-0 { padding:0rem; }
    }
@media (min-width: 1024px) {
      .lg\:p-0 { padding:0rem; }
    }
@media (min-width: 1280px) {
      .xl\:p-0 { padding:0rem; }
    }
@media (min-width: 1536px) {
      .2xl\:p-0 { padding:0rem; }
    }
.m-0 { margin:0rem; }
@media (min-width: 475px) {
      .xs\:m-0 { margin:0rem; }
    }
@media (min-width: 640px) {
      .sm\:m-0 { margin:0rem; }
    }
@media (min-width: 768px) {
      .md\:m-0 { margin:0rem; }
    }
@media (min-width: 1024px) {
      .lg\:m-0 { margin:0rem; }
    }
@media (min-width: 1280px) {
      .xl\:m-0 { margin:0rem; }
    }
@media (min-width: 1536px) {
      .2xl\:m-0 { margin:0rem; }
    }
.gap-0 { gap:0rem; }
@media (min-width: 475px) {
      .xs\:gap-0 { gap:0rem; }
    }
@media (min-width: 640px) {
      .sm\:gap-0 { gap:0rem; }
    }
@media (min-width: 768px) {
      .md\:gap-0 { gap:0rem; }
    }
@media (min-width: 1024px) {
      .lg\:gap-0 { gap:0rem; }
    }
@media (min-width: 1280px) {
      .xl\:gap-0 { gap:0rem; }
    }
@media (min-width: 1536px) {
      .2xl\:gap-0 { gap:0rem; }
    }
.p-1 { padding:0.25rem; }
@media (min-width: 475px) {
      .xs\:p-1 { padding:0.25rem; }
    }
@media (min-width: 640px) {
      .sm\:p-1 { padding:0.25rem; }
    }
@media (min-width: 768px) {
      .md\:p-1 { padding:0.25rem; }
    }
@media (min-width: 1024px) {
      .lg\:p-1 { padding:0.25rem; }
    }
@media (min-width: 1280px) {
      .xl\:p-1 { padding:0.25rem; }
    }
@media (min-width: 1536px) {
      .2xl\:p-1 { padding:0.25rem; }
    }
.m-1 { margin:0.25rem; }
@media (min-width: 475px) {
      .xs\:m-1 { margin:0.25rem; }
    }
@media (min-width: 640px) {
      .sm\:m-1 { margin:0.25rem; }
    }
@media (min-width: 768px) {
      .md\:m-1 { margin:0.25rem; }
    }
@media (min-width: 1024px) {
      .lg\:m-1 { margin:0.25rem; }
    }
@media (min-width: 1280px) {
      .xl\:m-1 { margin:0.25rem; }
    }
@media (min-width: 1536px) {
      .2xl\:m-1 { margin:0.25rem; }
    }
.gap-1 { gap:0.25rem; }
@media (min-width: 475px) {
      .xs\:gap-1 { gap:0.25rem; }
    }
@media (min-width: 640px) {
      .sm\:gap-1 { gap:0.25rem; }
    }
@media (min-width: 768px) {
      .md\:gap-1 { gap:0.25rem; }
    }
@media (min-width: 1024px) {
      .lg\:gap-1 { gap:0.25rem; }
    }
@media (min-width: 1280px) {
      .xl\:gap-1 { gap:0.25rem; }
    }
@media (min-width: 1536px) {
      .2xl\:gap-1 { gap:0.25rem; }
    }
.p-2 { padding:0.5rem; }
@media (min-width: 475px) {
      .xs\:p-2 { padding:0.5rem; }
    }
@media (min-width: 640px) {
      .sm\:p-2 { padding:0.5rem; }
    }
@media (min-width: 768px) {
      .md\:p-2 { padding:0.5rem; }
    }
@media (min-width: 1024px) {
      .lg\:p-2 { padding:0.5rem; }
    }
@media (min-width: 1280px) {
      .xl\:p-2 { padding:0.5rem; }
    }
@media (min-width: 1536px) {
      .2xl\:p-2 { padding:0.5rem; }
    }
.m-2 { margin:0.5rem; }
@media (min-width: 475px) {
      .xs\:m-2 { margin:0.5rem; }
    }
@media (min-width: 640px) {
      .sm\:m-2 { margin:0.5rem; }
    }
@media (min-width: 768px) {
      .md\:m-2 { margin:0.5rem; }
    }
@media (min-width: 1024px) {
      .lg\:m-2 { margin:0.5rem; }
    }
@media (min-width: 1280px) {
      .xl\:m-2 { margin:0.5rem; }
    }
@media (min-width: 1536px) {
      .2xl\:m-2 { margin:0.5rem; }
    }
.gap-2 { gap:0.5rem; }
@media (min-width: 475px) {
      .xs\:gap-2 { gap:0.5rem; }
    }
@media (min-width: 640px) {
      .sm\:gap-2 { gap:0.5rem; }
    }
@media (min-width: 768px) {
      .md\:gap-2 { gap:0.5rem; }
    }
@media (min-width: 1024px) {
      .lg\:gap-2 { gap:0.5rem; }
    }
@media (min-width: 1280px) {
      .xl\:gap-2 { gap:0.5rem; }
    }
@media (min-width: 1536px) {
      .2xl\:gap-2 { gap:0.5rem; }
    }
.p-3 { padding:0.75rem; }
@media (min-width: 475px) {
      .xs\:p-3 { padding:0.75rem; }
    }
@media (min-width: 640px) {
      .sm\:p-3 { padding:0.75rem; }
    }
@media (min-width: 768px) {
      .md\:p-3 { padding:0.75rem; }
    }
@media (min-width: 1024px) {
      .lg\:p-3 { padding:0.75rem; }
    }
@media (min-width: 1280px) {
      .xl\:p-3 { padding:0.75rem; }
    }
@media (min-width: 1536px) {
      .2xl\:p-3 { padding:0.75rem; }
    }
.m-3 { margin:0.75rem; }
@media (min-width: 475px) {
      .xs\:m-3 { margin:0.75rem; }
    }
@media (min-width: 640px) {
      .sm\:m-3 { margin:0.75rem; }
    }
@media (min-width: 768px) {
      .md\:m-3 { margin:0.75rem; }
    }
@media (min-width: 1024px) {
      .lg\:m-3 { margin:0.75rem; }
    }
@media (min-width: 1280px) {
      .xl\:m-3 { margin:0.75rem; }
    }
@media (min-width: 1536px) {
      .2xl\:m-3 { margin:0.75rem; }
    }
.gap-3 { gap:0.75rem; }
@media (min-width: 475px) {
      .xs\:gap-3 { gap:0.75rem; }
    }
@media (min-width: 640px) {
      .sm\:gap-3 { gap:0.75rem; }
    }
@media (min-width: 768px) {
      .md\:gap-3 { gap:0.75rem; }
    }
@media (min-width: 1024px) {
      .lg\:gap-3 { gap:0.75rem; }
    }
@media (min-width: 1280px) {
      .xl\:gap-3 { gap:0.75rem; }
    }
@media (min-width: 1536px) {
      .2xl\:gap-3 { gap:0.75rem; }
    }
.p-4 { padding:1rem; }
@media (min-width: 475px) {
      .xs\:p-4 { padding:1rem; }
    }
@media (min-width: 640px) {
      .sm\:p-4 { padding:1rem; }
    }
@media (min-width: 768px) {
      .md\:p-4 { padding:1rem; }
    }
@media (min-width: 1024px) {
      .lg\:p-4 { padding:1rem; }
    }
@media (min-width: 1280px) {
      .xl\:p-4 { padding:1rem; }
    }
@media (min-width: 1536px) {
      .2xl\:p-4 { padding:1rem; }
    }
.m-4 { margin:1rem; }
@media (min-width: 475px) {
      .xs\:m-4 { margin:1rem; }
    }
@media (min-width: 640px) {
      .sm\:m-4 { margin:1rem; }
    }
@media (min-width: 768px) {
      .md\:m-4 { margin:1rem; }
    }
@media (min-width: 1024px) {
      .lg\:m-4 { margin:1rem; }
    }
@media (min-width: 1280px) {
      .xl\:m-4 { margin:1rem; }
    }
@media (min-width: 1536px) {
      .2xl\:m-4 { margin:1rem; }
    }
.gap-4 { gap:1rem; }
@media (min-width: 475px) {
      .xs\:gap-4 { gap:1rem; }
    }
@media (min-width: 640px) {
      .sm\:gap-4 { gap:1rem; }
    }
@media (min-width: 768px) {
      .md\:gap-4 { gap:1rem; }
    }
@media (min-width: 1024px) {
      .lg\:gap-4 { gap:1rem; }
    }
@media (min-width: 1280px) {
      .xl\:gap-4 { gap:1rem; }
    }
@media (min-width: 1536px) {
      .2xl\:gap-4 { gap:1rem; }
    }
.p-5 { padding:1.25rem; }
@media (min-width: 475px) {
      .xs\:p-5 { padding:1.25rem; }
    }
@media (min-width: 640px) {
      .sm\:p-5 { padding:1.25rem; }
    }
@media (min-width: 768px) {
      .md\:p-5 { padding:1.25rem; }
    }
@media (min-width: 1024px) {
      .lg\:p-5 { padding:1.25rem; }
    }
@media (min-width: 1280px) {
      .xl\:p-5 { padding:1.25rem; }
    }
@media (min-width: 1536px) {
      .2xl\:p-5 { padding:1.25rem; }
    }
.m-5 { margin:1.25rem; }
@media (min-width: 475px) {
      .xs\:m-5 { margin:1.25rem; }
    }
@media (min-width: 640px) {
      .sm\:m-5 { margin:1.25rem; }
    }
@media (min-width: 768px) {
      .md\:m-5 { margin:1.25rem; }
    }
@media (min-width: 1024px) {
      .lg\:m-5 { margin:1.25rem; }
    }
@media (min-width: 1280px) {
      .xl\:m-5 { margin:1.25rem; }
    }
@media (min-width: 1536px) {
      .2xl\:m-5 { margin:1.25rem; }
    }
.gap-5 { gap:1.25rem; }
@media (min-width: 475px) {
      .xs\:gap-5 { gap:1.25rem; }
    }
@media (min-width: 640px) {
      .sm\:gap-5 { gap:1.25rem; }
    }
@media (min-width: 768px) {
      .md\:gap-5 { gap:1.25rem; }
    }
@media (min-width: 1024px) {
      .lg\:gap-5 { gap:1.25rem; }
    }
@media (min-width: 1280px) {
      .xl\:gap-5 { gap:1.25rem; }
    }
@media (min-width: 1536px) {
      .2xl\:gap-5 { gap:1.25rem; }
    }
.p-6 { padding:1.5rem; }
@media (min-width: 475px) {
      .xs\:p-6 { padding:1.5rem; }
    }
@media (min-width: 640px) {
      .sm\:p-6 { padding:1.5rem; }
    }
@media (min-width: 768px) {
      .md\:p-6 { padding:1.5rem; }
    }
@media (min-width: 1024px) {
      .lg\:p-6 { padding:1.5rem; }
    }
@media (min-width: 1280px) {
      .xl\:p-6 { padding:1.5rem; }
    }
@media (min-width: 1536px) {
      .2xl\:p-6 { padding:1.5rem; }
    }
.m-6 { margin:1.5rem; }
@media (min-width: 475px) {
      .xs\:m-6 { margin:1.5rem; }
    }
@media (min-width: 640px) {
      .sm\:m-6 { margin:1.5rem; }
    }
@media (min-width: 768px) {
      .md\:m-6 { margin:1.5rem; }
    }
@media (min-width: 1024px) {
      .lg\:m-6 { margin:1.5rem; }
    }
@media (min-width: 1280px) {
      .xl\:m-6 { margin:1.5rem; }
    }
@media (min-width: 1536px) {
      .2xl\:m-6 { margin:1.5rem; }
    }
.gap-6 { gap:1.5rem; }
@media (min-width: 475px) {
      .xs\:gap-6 { gap:1.5rem; }
    }
@media (min-width: 640px) {
      .sm\:gap-6 { gap:1.5rem; }
    }
@media (min-width: 768px) {
      .md\:gap-6 { gap:1.5rem; }
    }
@media (min-width: 1024px) {
      .lg\:gap-6 { gap:1.5rem; }
    }
@media (min-width: 1280px) {
      .xl\:gap-6 { gap:1.5rem; }
    }
@media (min-width: 1536px) {
      .2xl\:gap-6 { gap:1.5rem; }
    }
.p-8 { padding:2rem; }
@media (min-width: 475px) {
      .xs\:p-8 { padding:2rem; }
    }
@media (min-width: 640px) {
      .sm\:p-8 { padding:2rem; }
    }
@media (min-width: 768px) {
      .md\:p-8 { padding:2rem; }
    }
@media (min-width: 1024px) {
      .lg\:p-8 { padding:2rem; }
    }
@media (min-width: 1280px) {
      .xl\:p-8 { padding:2rem; }
    }
@media (min-width: 1536px) {
      .2xl\:p-8 { padding:2rem; }
    }
.m-8 { margin:2rem; }
@media (min-width: 475px) {
      .xs\:m-8 { margin:2rem; }
    }
@media (min-width: 640px) {
      .sm\:m-8 { margin:2rem; }
    }
@media (min-width: 768px) {
      .md\:m-8 { margin:2rem; }
    }
@media (min-width: 1024px) {
      .lg\:m-8 { margin:2rem; }
    }
@media (min-width: 1280px) {
      .xl\:m-8 { margin:2rem; }
    }
@media (min-width: 1536px) {
      .2xl\:m-8 { margin:2rem; }
    }
.gap-8 { gap:2rem; }
@media (min-width: 475px) {
      .xs\:gap-8 { gap:2rem; }
    }
@media (min-width: 640px) {
      .sm\:gap-8 { gap:2rem; }
    }
@media (min-width: 768px) {
      .md\:gap-8 { gap:2rem; }
    }
@media (min-width: 1024px) {
      .lg\:gap-8 { gap:2rem; }
    }
@media (min-width: 1280px) {
      .xl\:gap-8 { gap:2rem; }
    }
@media (min-width: 1536px) {
      .2xl\:gap-8 { gap:2rem; }
    }
.p-10 { padding:2.5rem; }
@media (min-width: 475px) {
      .xs\:p-10 { padding:2.5rem; }
    }
@media (min-width: 640px) {
      .sm\:p-10 { padding:2.5rem; }
    }
@media (min-width: 768px) {
      .md\:p-10 { padding:2.5rem; }
    }
@media (min-width: 1024px) {
      .lg\:p-10 { padding:2.5rem; }
    }
@media (min-width: 1280px) {
      .xl\:p-10 { padding:2.5rem; }
    }
@media (min-width: 1536px) {
      .2xl\:p-10 { padding:2.5rem; }
    }
.m-10 { margin:2.5rem; }
@media (min-width: 475px) {
      .xs\:m-10 { margin:2.5rem; }
    }
@media (min-width: 640px) {
      .sm\:m-10 { margin:2.5rem; }
    }
@media (min-width: 768px) {
      .md\:m-10 { margin:2.5rem; }
    }
@media (min-width: 1024px) {
      .lg\:m-10 { margin:2.5rem; }
    }
@media (min-width: 1280px) {
      .xl\:m-10 { margin:2.5rem; }
    }
@media (min-width: 1536px) {
      .2xl\:m-10 { margin:2.5rem; }
    }
.gap-10 { gap:2.5rem; }
@media (min-width: 475px) {
      .xs\:gap-10 { gap:2.5rem; }
    }
@media (min-width: 640px) {
      .sm\:gap-10 { gap:2.5rem; }
    }
@media (min-width: 768px) {
      .md\:gap-10 { gap:2.5rem; }
    }
@media (min-width: 1024px) {
      .lg\:gap-10 { gap:2.5rem; }
    }
@media (min-width: 1280px) {
      .xl\:gap-10 { gap:2.5rem; }
    }
@media (min-width: 1536px) {
      .2xl\:gap-10 { gap:2.5rem; }
    }
.p-12 { padding:3rem; }
@media (min-width: 475px) {
      .xs\:p-12 { padding:3rem; }
    }
@media (min-width: 640px) {
      .sm\:p-12 { padding:3rem; }
    }
@media (min-width: 768px) {
      .md\:p-12 { padding:3rem; }
    }
@media (min-width: 1024px) {
      .lg\:p-12 { padding:3rem; }
    }
@media (min-width: 1280px) {
      .xl\:p-12 { padding:3rem; }
    }
@media (min-width: 1536px) {
      .2xl\:p-12 { padding:3rem; }
    }
.m-12 { margin:3rem; }
@media (min-width: 475px) {
      .xs\:m-12 { margin:3rem; }
    }
@media (min-width: 640px) {
      .sm\:m-12 { margin:3rem; }
    }
@media (min-width: 768px) {
      .md\:m-12 { margin:3rem; }
    }
@media (min-width: 1024px) {
      .lg\:m-12 { margin:3rem; }
    }
@media (min-width: 1280px) {
      .xl\:m-12 { margin:3rem; }
    }
@media (min-width: 1536px) {
      .2xl\:m-12 { margin:3rem; }
    }
.gap-12 { gap:3rem; }
@media (min-width: 475px) {
      .xs\:gap-12 { gap:3rem; }
    }
@media (min-width: 640px) {
      .sm\:gap-12 { gap:3rem; }
    }
@media (min-width: 768px) {
      .md\:gap-12 { gap:3rem; }
    }
@media (min-width: 1024px) {
      .lg\:gap-12 { gap:3rem; }
    }
@media (min-width: 1280px) {
      .xl\:gap-12 { gap:3rem; }
    }
@media (min-width: 1536px) {
      .2xl\:gap-12 { gap:3rem; }
    }
.p-16 { padding:4rem; }
@media (min-width: 475px) {
      .xs\:p-16 { padding:4rem; }
    }
@media (min-width: 640px) {
      .sm\:p-16 { padding:4rem; }
    }
@media (min-width: 768px) {
      .md\:p-16 { padding:4rem; }
    }
@media (min-width: 1024px) {
      .lg\:p-16 { padding:4rem; }
    }
@media (min-width: 1280px) {
      .xl\:p-16 { padding:4rem; }
    }
@media (min-width: 1536px) {
      .2xl\:p-16 { padding:4rem; }
    }
.m-16 { margin:4rem; }
@media (min-width: 475px) {
      .xs\:m-16 { margin:4rem; }
    }
@media (min-width: 640px) {
      .sm\:m-16 { margin:4rem; }
    }
@media (min-width: 768px) {
      .md\:m-16 { margin:4rem; }
    }
@media (min-width: 1024px) {
      .lg\:m-16 { margin:4rem; }
    }
@media (min-width: 1280px) {
      .xl\:m-16 { margin:4rem; }
    }
@media (min-width: 1536px) {
      .2xl\:m-16 { margin:4rem; }
    }
.gap-16 { gap:4rem; }
@media (min-width: 475px) {
      .xs\:gap-16 { gap:4rem; }
    }
@media (min-width: 640px) {
      .sm\:gap-16 { gap:4rem; }
    }
@media (min-width: 768px) {
      .md\:gap-16 { gap:4rem; }
    }
@media (min-width: 1024px) {
      .lg\:gap-16 { gap:4rem; }
    }
@media (min-width: 1280px) {
      .xl\:gap-16 { gap:4rem; }
    }
@media (min-width: 1536px) {
      .2xl\:gap-16 { gap:4rem; }
    }
.p-20 { padding:5rem; }
@media (min-width: 475px) {
      .xs\:p-20 { padding:5rem; }
    }
@media (min-width: 640px) {
      .sm\:p-20 { padding:5rem; }
    }
@media (min-width: 768px) {
      .md\:p-20 { padding:5rem; }
    }
@media (min-width: 1024px) {
      .lg\:p-20 { padding:5rem; }
    }
@media (min-width: 1280px) {
      .xl\:p-20 { padding:5rem; }
    }
@media (min-width: 1536px) {
      .2xl\:p-20 { padding:5rem; }
    }
.m-20 { margin:5rem; }
@media (min-width: 475px) {
      .xs\:m-20 { margin:5rem; }
    }
@media (min-width: 640px) {
      .sm\:m-20 { margin:5rem; }
    }
@media (min-width: 768px) {
      .md\:m-20 { margin:5rem; }
    }
@media (min-width: 1024px) {
      .lg\:m-20 { margin:5rem; }
    }
@media (min-width: 1280px) {
      .xl\:m-20 { margin:5rem; }
    }
@media (min-width: 1536px) {
      .2xl\:m-20 { margin:5rem; }
    }
.gap-20 { gap:5rem; }
@media (min-width: 475px) {
      .xs\:gap-20 { gap:5rem; }
    }
@media (min-width: 640px) {
      .sm\:gap-20 { gap:5rem; }
    }
@media (min-width: 768px) {
      .md\:gap-20 { gap:5rem; }
    }
@media (min-width: 1024px) {
      .lg\:gap-20 { gap:5rem; }
    }
@media (min-width: 1280px) {
      .xl\:gap-20 { gap:5rem; }
    }
@media (min-width: 1536px) {
      .2xl\:gap-20 { gap:5rem; }
    }
.text-xs { font-size:0.75rem; }
@media (min-width: 475px) {
      .xs\:text-xs { font-size:0.75rem; }
    }
@media (min-width: 640px) {
      .sm\:text-xs { font-size:0.75rem; }
    }
@media (min-width: 768px) {
      .md\:text-xs { font-size:0.75rem; }
    }
@media (min-width: 1024px) {
      .lg\:text-xs { font-size:0.75rem; }
    }
@media (min-width: 1280px) {
      .xl\:text-xs { font-size:0.75rem; }
    }
@media (min-width: 1536px) {
      .2xl\:text-xs { font-size:0.75rem; }
    }
.text-sm { font-size:0.875rem; }
@media (min-width: 475px) {
      .xs\:text-sm { font-size:0.875rem; }
    }
@media (min-width: 640px) {
      .sm\:text-sm { font-size:0.875rem; }
    }
@media (min-width: 768px) {
      .md\:text-sm { font-size:0.875rem; }
    }
@media (min-width: 1024px) {
      .lg\:text-sm { font-size:0.875rem; }
    }
@media (min-width: 1280px) {
      .xl\:text-sm { font-size:0.875rem; }
    }
@media (min-width: 1536px) {
      .2xl\:text-sm { font-size:0.875rem; }
    }
.text-base { font-size:1rem; }
@media (min-width: 475px) {
      .xs\:text-base { font-size:1rem; }
    }
@media (min-width: 640px) {
      .sm\:text-base { font-size:1rem; }
    }
@media (min-width: 768px) {
      .md\:text-base { font-size:1rem; }
    }
@media (min-width: 1024px) {
      .lg\:text-base { font-size:1rem; }
    }
@media (min-width: 1280px) {
      .xl\:text-base { font-size:1rem; }
    }
@media (min-width: 1536px) {
      .2xl\:text-base { font-size:1rem; }
    }
.text-lg { font-size:1.125rem; }
@media (min-width: 475px) {
      .xs\:text-lg { font-size:1.125rem; }
    }
@media (min-width: 640px) {
      .sm\:text-lg { font-size:1.125rem; }
    }
@media (min-width: 768px) {
      .md\:text-lg { font-size:1.125rem; }
    }
@media (min-width: 1024px) {
      .lg\:text-lg { font-size:1.125rem; }
    }
@media (min-width: 1280px) {
      .xl\:text-lg { font-size:1.125rem; }
    }
@media (min-width: 1536px) {
      .2xl\:text-lg { font-size:1.125rem; }
    }
.text-xl { font-size:1.25rem; }
@media (min-width: 475px) {
      .xs\:text-xl { font-size:1.25rem; }
    }
@media (min-width: 640px) {
      .sm\:text-xl { font-size:1.25rem; }
    }
@media (min-width: 768px) {
      .md\:text-xl { font-size:1.25rem; }
    }
@media (min-width: 1024px) {
      .lg\:text-xl { font-size:1.25rem; }
    }
@media (min-width: 1280px) {
      .xl\:text-xl { font-size:1.25rem; }
    }
@media (min-width: 1536px) {
      .2xl\:text-xl { font-size:1.25rem; }
    }
.text-2xl { font-size:1.5rem; }
@media (min-width: 475px) {
      .xs\:text-2xl { font-size:1.5rem; }
    }
@media (min-width: 640px) {
      .sm\:text-2xl { font-size:1.5rem; }
    }
@media (min-width: 768px) {
      .md\:text-2xl { font-size:1.5rem; }
    }
@media (min-width: 1024px) {
      .lg\:text-2xl { font-size:1.5rem; }
    }
@media (min-width: 1280px) {
      .xl\:text-2xl { font-size:1.5rem; }
    }
@media (min-width: 1536px) {
      .2xl\:text-2xl { font-size:1.5rem; }
    }
.text-3xl { font-size:1.875rem; }
@media (min-width: 475px) {
      .xs\:text-3xl { font-size:1.875rem; }
    }
@media (min-width: 640px) {
      .sm\:text-3xl { font-size:1.875rem; }
    }
@media (min-width: 768px) {
      .md\:text-3xl { font-size:1.875rem; }
    }
@media (min-width: 1024px) {
      .lg\:text-3xl { font-size:1.875rem; }
    }
@media (min-width: 1280px) {
      .xl\:text-3xl { font-size:1.875rem; }
    }
@media (min-width: 1536px) {
      .2xl\:text-3xl { font-size:1.875rem; }
    }
.text-4xl { font-size:2.25rem; }
@media (min-width: 475px) {
      .xs\:text-4xl { font-size:2.25rem; }
    }
@media (min-width: 640px) {
      .sm\:text-4xl { font-size:2.25rem; }
    }
@media (min-width: 768px) {
      .md\:text-4xl { font-size:2.25rem; }
    }
@media (min-width: 1024px) {
      .lg\:text-4xl { font-size:2.25rem; }
    }
@media (min-width: 1280px) {
      .xl\:text-4xl { font-size:2.25rem; }
    }
@media (min-width: 1536px) {
      .2xl\:text-4xl { font-size:2.25rem; }
    }
.text-5xl { font-size:3rem; }
@media (min-width: 475px) {
      .xs\:text-5xl { font-size:3rem; }
    }
@media (min-width: 640px) {
      .sm\:text-5xl { font-size:3rem; }
    }
@media (min-width: 768px) {
      .md\:text-5xl { font-size:3rem; }
    }
@media (min-width: 1024px) {
      .lg\:text-5xl { font-size:3rem; }
    }
@media (min-width: 1280px) {
      .xl\:text-5xl { font-size:3rem; }
    }
@media (min-width: 1536px) {
      .2xl\:text-5xl { font-size:3rem; }
    }
.font-thin { font-weight:100; }
@media (min-width: 475px) {
      .xs\:font-thin { font-weight:100; }
    }
@media (min-width: 640px) {
      .sm\:font-thin { font-weight:100; }
    }
@media (min-width: 768px) {
      .md\:font-thin { font-weight:100; }
    }
@media (min-width: 1024px) {
      .lg\:font-thin { font-weight:100; }
    }
@media (min-width: 1280px) {
      .xl\:font-thin { font-weight:100; }
    }
@media (min-width: 1536px) {
      .2xl\:font-thin { font-weight:100; }
    }
.font-extralight { font-weight:200; }
@media (min-width: 475px) {
      .xs\:font-extralight { font-weight:200; }
    }
@media (min-width: 640px) {
      .sm\:font-extralight { font-weight:200; }
    }
@media (min-width: 768px) {
      .md\:font-extralight { font-weight:200; }
    }
@media (min-width: 1024px) {
      .lg\:font-extralight { font-weight:200; }
    }
@media (min-width: 1280px) {
      .xl\:font-extralight { font-weight:200; }
    }
@media (min-width: 1536px) {
      .2xl\:font-extralight { font-weight:200; }
    }
.font-light { font-weight:300; }
@media (min-width: 475px) {
      .xs\:font-light { font-weight:300; }
    }
@media (min-width: 640px) {
      .sm\:font-light { font-weight:300; }
    }
@media (min-width: 768px) {
      .md\:font-light { font-weight:300; }
    }
@media (min-width: 1024px) {
      .lg\:font-light { font-weight:300; }
    }
@media (min-width: 1280px) {
      .xl\:font-light { font-weight:300; }
    }
@media (min-width: 1536px) {
      .2xl\:font-light { font-weight:300; }
    }
.font-normal { font-weight:400; }
@media (min-width: 475px) {
      .xs\:font-normal { font-weight:400; }
    }
@media (min-width: 640px) {
      .sm\:font-normal { font-weight:400; }
    }
@media (min-width: 768px) {
      .md\:font-normal { font-weight:400; }
    }
@media (min-width: 1024px) {
      .lg\:font-normal { font-weight:400; }
    }
@media (min-width: 1280px) {
      .xl\:font-normal { font-weight:400; }
    }
@media (min-width: 1536px) {
      .2xl\:font-normal { font-weight:400; }
    }
.font-medium { font-weight:500; }
@media (min-width: 475px) {
      .xs\:font-medium { font-weight:500; }
    }
@media (min-width: 640px) {
      .sm\:font-medium { font-weight:500; }
    }
@media (min-width: 768px) {
      .md\:font-medium { font-weight:500; }
    }
@media (min-width: 1024px) {
      .lg\:font-medium { font-weight:500; }
    }
@media (min-width: 1280px) {
      .xl\:font-medium { font-weight:500; }
    }
@media (min-width: 1536px) {
      .2xl\:font-medium { font-weight:500; }
    }
.font-semibold { font-weight:600; }
@media (min-width: 475px) {
      .xs\:font-semibold { font-weight:600; }
    }
@media (min-width: 640px) {
      .sm\:font-semibold { font-weight:600; }
    }
@media (min-width: 768px) {
      .md\:font-semibold { font-weight:600; }
    }
@media (min-width: 1024px) {
      .lg\:font-semibold { font-weight:600; }
    }
@media (min-width: 1280px) {
      .xl\:font-semibold { font-weight:600; }
    }
@media (min-width: 1536px) {
      .2xl\:font-semibold { font-weight:600; }
    }
.font-bold { font-weight:700; }
@media (min-width: 475px) {
      .xs\:font-bold { font-weight:700; }
    }
@media (min-width: 640px) {
      .sm\:font-bold { font-weight:700; }
    }
@media (min-width: 768px) {
      .md\:font-bold { font-weight:700; }
    }
@media (min-width: 1024px) {
      .lg\:font-bold { font-weight:700; }
    }
@media (min-width: 1280px) {
      .xl\:font-bold { font-weight:700; }
    }
@media (min-width: 1536px) {
      .2xl\:font-bold { font-weight:700; }
    }
.font-extrabold { font-weight:800; }
@media (min-width: 475px) {
      .xs\:font-extrabold { font-weight:800; }
    }
@media (min-width: 640px) {
      .sm\:font-extrabold { font-weight:800; }
    }
@media (min-width: 768px) {
      .md\:font-extrabold { font-weight:800; }
    }
@media (min-width: 1024px) {
      .lg\:font-extrabold { font-weight:800; }
    }
@media (min-width: 1280px) {
      .xl\:font-extrabold { font-weight:800; }
    }
@media (min-width: 1536px) {
      .2xl\:font-extrabold { font-weight:800; }
    }
.font-black { font-weight:900; }
@media (min-width: 475px) {
      .xs\:font-black { font-weight:900; }
    }
@media (min-width: 640px) {
      .sm\:font-black { font-weight:900; }
    }
@media (min-width: 768px) {
      .md\:font-black { font-weight:900; }
    }
@media (min-width: 1024px) {
      .lg\:font-black { font-weight:900; }
    }
@media (min-width: 1280px) {
      .xl\:font-black { font-weight:900; }
    }
@media (min-width: 1536px) {
      .2xl\:font-black { font-weight:900; }
    }

    .text-left { text-align:left; }
@media (min-width: 475px) {
      .xs\:text-left { text-align:left; }
    }
@media (min-width: 640px) {
      .sm\:text-left { text-align:left; }
    }
@media (min-width: 768px) {
      .md\:text-left { text-align:left; }
    }
@media (min-width: 1024px) {
      .lg\:text-left { text-align:left; }
    }
@media (min-width: 1280px) {
      .xl\:text-left { text-align:left; }
    }
@media (min-width: 1536px) {
      .2xl\:text-left { text-align:left; }
    }

    .text-center { text-align:center; }
@media (min-width: 475px) {
      .xs\:text-center { text-align:center; }
    }
@media (min-width: 640px) {
      .sm\:text-center { text-align:center; }
    }
@media (min-width: 768px) {
      .md\:text-center { text-align:center; }
    }
@media (min-width: 1024px) {
      .lg\:text-center { text-align:center; }
    }
@media (min-width: 1280px) {
      .xl\:text-center { text-align:center; }
    }
@media (min-width: 1536px) {
      .2xl\:text-center { text-align:center; }
    }

    .text-right { text-align:right; }
@media (min-width: 475px) {
      .xs\:text-right { text-align:right; }
    }
@media (min-width: 640px) {
      .sm\:text-right { text-align:right; }
    }
@media (min-width: 768px) {
      .md\:text-right { text-align:right; }
    }
@media (min-width: 1024px) {
      .lg\:text-right { text-align:right; }
    }
@media (min-width: 1280px) {
      .xl\:text-right { text-align:right; }
    }
@media (min-width: 1536px) {
      .2xl\:text-right { text-align:right; }
    }

    .text-justify { text-align:justify; }
@media (min-width: 475px) {
      .xs\:text-justify { text-align:justify; }
    }
@media (min-width: 640px) {
      .sm\:text-justify { text-align:justify; }
    }
@media (min-width: 768px) {
      .md\:text-justify { text-align:justify; }
    }
@media (min-width: 1024px) {
      .lg\:text-justify { text-align:justify; }
    }
@media (min-width: 1280px) {
      .xl\:text-justify { text-align:justify; }
    }
@media (min-width: 1536px) {
      .2xl\:text-justify { text-align:justify; }
    }

  .bg-transparent { background-color:transparent; }
@media (min-width: 475px) {
      .xs\:bg-transparent { background-color:transparent; }
    }
@media (min-width: 640px) {
      .sm\:bg-transparent { background-color:transparent; }
    }
@media (min-width: 768px) {
      .md\:bg-transparent { background-color:transparent; }
    }
@media (min-width: 1024px) {
      .lg\:bg-transparent { background-color:transparent; }
    }
@media (min-width: 1280px) {
      .xl\:bg-transparent { background-color:transparent; }
    }
@media (min-width: 1536px) {
      .2xl\:bg-transparent { background-color:transparent; }
    }
.bg-white { background-color:#ffffff; }
@media (min-width: 475px) {
      .xs\:bg-white { background-color:#ffffff; }
    }
@media (min-width: 640px) {
      .sm\:bg-white { background-color:#ffffff; }
    }
@media (min-width: 768px) {
      .md\:bg-white { background-color:#ffffff; }
    }
@media (min-width: 1024px) {
      .lg\:bg-white { background-color:#ffffff; }
    }
@media (min-width: 1280px) {
      .xl\:bg-white { background-color:#ffffff; }
    }
@media (min-width: 1536px) {
      .2xl\:bg-white { background-color:#ffffff; }
    }
.bg-black { background-color:#000000; }
@media (min-width: 475px) {
      .xs\:bg-black { background-color:#000000; }
    }
@media (min-width: 640px) {
      .sm\:bg-black { background-color:#000000; }
    }
@media (min-width: 768px) {
      .md\:bg-black { background-color:#000000; }
    }
@media (min-width: 1024px) {
      .lg\:bg-black { background-color:#000000; }
    }
@media (min-width: 1280px) {
      .xl\:bg-black { background-color:#000000; }
    }
@media (min-width: 1536px) {
      .2xl\:bg-black { background-color:#000000; }
    }
.bg-gray-100 { background-color:#f7fafc; }
@media (min-width: 475px) {
      .xs\:bg-gray-100 { background-color:#f7fafc; }
    }
@media (min-width: 640px) {
      .sm\:bg-gray-100 { background-color:#f7fafc; }
    }
@media (min-width: 768px) {
      .md\:bg-gray-100 { background-color:#f7fafc; }
    }
@media (min-width: 1024px) {
      .lg\:bg-gray-100 { background-color:#f7fafc; }
    }
@media (min-width: 1280px) {
      .xl\:bg-gray-100 { background-color:#f7fafc; }
    }
@media (min-width: 1536px) {
      .2xl\:bg-gray-100 { background-color:#f7fafc; }
    }
.bg-gray-200 { background-color:#edf2f7; }
@media (min-width: 475px) {
      .xs\:bg-gray-200 { background-color:#edf2f7; }
    }
@media (min-width: 640px) {
      .sm\:bg-gray-200 { background-color:#edf2f7; }
    }
@media (min-width: 768px) {
      .md\:bg-gray-200 { background-color:#edf2f7; }
    }
@media (min-width: 1024px) {
      .lg\:bg-gray-200 { background-color:#edf2f7; }
    }
@media (min-width: 1280px) {
      .xl\:bg-gray-200 { background-color:#edf2f7; }
    }
@media (min-width: 1536px) {
      .2xl\:bg-gray-200 { background-color:#edf2f7; }
    }
.bg-gray-300 { background-color:#e2e8f0; }
@media (min-width: 475px) {
      .xs\:bg-gray-300 { background-color:#e2e8f0; }
    }
@media (min-width: 640px) {
      .sm\:bg-gray-300 { background-color:#e2e8f0; }
    }
@media (min-width: 768px) {
      .md\:bg-gray-300 { background-color:#e2e8f0; }
    }
@media (min-width: 1024px) {
      .lg\:bg-gray-300 { background-color:#e2e8f0; }
    }
@media (min-width: 1280px) {
      .xl\:bg-gray-300 { background-color:#e2e8f0; }
    }
@media (min-width: 1536px) {
      .2xl\:bg-gray-300 { background-color:#e2e8f0; }
    }
.bg-gray-400 { background-color:#cbd5e0; }
@media (min-width: 475px) {
      .xs\:bg-gray-400 { background-color:#cbd5e0; }
    }
@media (min-width: 640px) {
      .sm\:bg-gray-400 { background-color:#cbd5e0; }
    }
@media (min-width: 768px) {
      .md\:bg-gray-400 { background-color:#cbd5e0; }
    }
@media (min-width: 1024px) {
      .lg\:bg-gray-400 { background-color:#cbd5e0; }
    }
@media (min-width: 1280px) {
      .xl\:bg-gray-400 { background-color:#cbd5e0; }
    }
@media (min-width: 1536px) {
      .2xl\:bg-gray-400 { background-color:#cbd5e0; }
    }
.bg-gray-500 { background-color:#a0aec0; }
@media (min-width: 475px) {
      .xs\:bg-gray-500 { background-color:#a0aec0; }
    }
@media (min-width: 640px) {
      .sm\:bg-gray-500 { background-color:#a0aec0; }
    }
@media (min-width: 768px) {
      .md\:bg-gray-500 { background-color:#a0aec0; }
    }
@media (min-width: 1024px) {
      .lg\:bg-gray-500 { background-color:#a0aec0; }
    }
@media (min-width: 1280px) {
      .xl\:bg-gray-500 { background-color:#a0aec0; }
    }
@media (min-width: 1536px) {
      .2xl\:bg-gray-500 { background-color:#a0aec0; }
    }
.bg-gray-600 { background-color:#718096; }
@media (min-width: 475px) {
      .xs\:bg-gray-600 { background-color:#718096; }
    }
@media (min-width: 640px) {
      .sm\:bg-gray-600 { background-color:#718096; }
    }
@media (min-width: 768px) {
      .md\:bg-gray-600 { background-color:#718096; }
    }
@media (min-width: 1024px) {
      .lg\:bg-gray-600 { background-color:#718096; }
    }
@media (min-width: 1280px) {
      .xl\:bg-gray-600 { background-color:#718096; }
    }
@media (min-width: 1536px) {
      .2xl\:bg-gray-600 { background-color:#718096; }
    }
.bg-gray-700 { background-color:#4a5568; }
@media (min-width: 475px) {
      .xs\:bg-gray-700 { background-color:#4a5568; }
    }
@media (min-width: 640px) {
      .sm\:bg-gray-700 { background-color:#4a5568; }
    }
@media (min-width: 768px) {
      .md\:bg-gray-700 { background-color:#4a5568; }
    }
@media (min-width: 1024px) {
      .lg\:bg-gray-700 { background-color:#4a5568; }
    }
@media (min-width: 1280px) {
      .xl\:bg-gray-700 { background-color:#4a5568; }
    }
@media (min-width: 1536px) {
      .2xl\:bg-gray-700 { background-color:#4a5568; }
    }
.bg-gray-800 { background-color:#2d3748; }
@media (min-width: 475px) {
      .xs\:bg-gray-800 { background-color:#2d3748; }
    }
@media (min-width: 640px) {
      .sm\:bg-gray-800 { background-color:#2d3748; }
    }
@media (min-width: 768px) {
      .md\:bg-gray-800 { background-color:#2d3748; }
    }
@media (min-width: 1024px) {
      .lg\:bg-gray-800 { background-color:#2d3748; }
    }
@media (min-width: 1280px) {
      .xl\:bg-gray-800 { background-color:#2d3748; }
    }
@media (min-width: 1536px) {
      .2xl\:bg-gray-800 { background-color:#2d3748; }
    }
.bg-gray-900 { background-color:#1a202c; }
@media (min-width: 475px) {
      .xs\:bg-gray-900 { background-color:#1a202c; }
    }
@media (min-width: 640px) {
      .sm\:bg-gray-900 { background-color:#1a202c; }
    }
@media (min-width: 768px) {
      .md\:bg-gray-900 { background-color:#1a202c; }
    }
@media (min-width: 1024px) {
      .lg\:bg-gray-900 { background-color:#1a202c; }
    }
@media (min-width: 1280px) {
      .xl\:bg-gray-900 { background-color:#1a202c; }
    }
@media (min-width: 1536px) {
      .2xl\:bg-gray-900 { background-color:#1a202c; }
    }
.bg-red-500 { background-color:#ef4444; }
@media (min-width: 475px) {
      .xs\:bg-red-500 { background-color:#ef4444; }
    }
@media (min-width: 640px) {
      .sm\:bg-red-500 { background-color:#ef4444; }
    }
@media (min-width: 768px) {
      .md\:bg-red-500 { background-color:#ef4444; }
    }
@media (min-width: 1024px) {
      .lg\:bg-red-500 { background-color:#ef4444; }
    }
@media (min-width: 1280px) {
      .xl\:bg-red-500 { background-color:#ef4444; }
    }
@media (min-width: 1536px) {
      .2xl\:bg-red-500 { background-color:#ef4444; }
    }
.bg-green-500 { background-color:#22c55e; }
@media (min-width: 475px) {
      .xs\:bg-green-500 { background-color:#22c55e; }
    }
@media (min-width: 640px) {
      .sm\:bg-green-500 { background-color:#22c55e; }
    }
@media (min-width: 768px) {
      .md\:bg-green-500 { background-color:#22c55e; }
    }
@media (min-width: 1024px) {
      .lg\:bg-green-500 { background-color:#22c55e; }
    }
@media (min-width: 1280px) {
      .xl\:bg-green-500 { background-color:#22c55e; }
    }
@media (min-width: 1536px) {
      .2xl\:bg-green-500 { background-color:#22c55e; }
    }
.bg-blue-500 { background-color:#3b82f6; }
@media (min-width: 475px) {
      .xs\:bg-blue-500 { background-color:#3b82f6; }
    }
@media (min-width: 640px) {
      .sm\:bg-blue-500 { background-color:#3b82f6; }
    }
@media (min-width: 768px) {
      .md\:bg-blue-500 { background-color:#3b82f6; }
    }
@media (min-width: 1024px) {
      .lg\:bg-blue-500 { background-color:#3b82f6; }
    }
@media (min-width: 1280px) {
      .xl\:bg-blue-500 { background-color:#3b82f6; }
    }
@media (min-width: 1536px) {
      .2xl\:bg-blue-500 { background-color:#3b82f6; }
    }
.bg-yellow-500 { background-color:#eab308; }
@media (min-width: 475px) {
      .xs\:bg-yellow-500 { background-color:#eab308; }
    }
@media (min-width: 640px) {
      .sm\:bg-yellow-500 { background-color:#eab308; }
    }
@media (min-width: 768px) {
      .md\:bg-yellow-500 { background-color:#eab308; }
    }
@media (min-width: 1024px) {
      .lg\:bg-yellow-500 { background-color:#eab308; }
    }
@media (min-width: 1280px) {
      .xl\:bg-yellow-500 { background-color:#eab308; }
    }
@media (min-width: 1536px) {
      .2xl\:bg-yellow-500 { background-color:#eab308; }
    }

    .cursor-pointer { cursor:pointer; }
@media (min-width: 475px) {
      .xs\:cursor-pointer { cursor:pointer; }
    }
@media (min-width: 640px) {
      .sm\:cursor-pointer { cursor:pointer; }
    }
@media (min-width: 768px) {
      .md\:cursor-pointer { cursor:pointer; }
    }
@media (min-width: 1024px) {
      .lg\:cursor-pointer { cursor:pointer; }
    }
@media (min-width: 1280px) {
      .xl\:cursor-pointer { cursor:pointer; }
    }
@media (min-width: 1536px) {
      .2xl\:cursor-pointer { cursor:pointer; }
    }

    .cursor-default { cursor:default; }
@media (min-width: 475px) {
      .xs\:cursor-default { cursor:default; }
    }
@media (min-width: 640px) {
      .sm\:cursor-default { cursor:default; }
    }
@media (min-width: 768px) {
      .md\:cursor-default { cursor:default; }
    }
@media (min-width: 1024px) {
      .lg\:cursor-default { cursor:default; }
    }
@media (min-width: 1280px) {
      .xl\:cursor-default { cursor:default; }
    }
@media (min-width: 1536px) {
      .2xl\:cursor-default { cursor:default; }
    }

    .cursor-wait { cursor:wait; }
@media (min-width: 475px) {
      .xs\:cursor-wait { cursor:wait; }
    }
@media (min-width: 640px) {
      .sm\:cursor-wait { cursor:wait; }
    }
@media (min-width: 768px) {
      .md\:cursor-wait { cursor:wait; }
    }
@media (min-width: 1024px) {
      .lg\:cursor-wait { cursor:wait; }
    }
@media (min-width: 1280px) {
      .xl\:cursor-wait { cursor:wait; }
    }
@media (min-width: 1536px) {
      .2xl\:cursor-wait { cursor:wait; }
    }

    .cursor-move { cursor:move; }
@media (min-width: 475px) {
      .xs\:cursor-move { cursor:move; }
    }
@media (min-width: 640px) {
      .sm\:cursor-move { cursor:move; }
    }
@media (min-width: 768px) {
      .md\:cursor-move { cursor:move; }
    }
@media (min-width: 1024px) {
      .lg\:cursor-move { cursor:move; }
    }
@media (min-width: 1280px) {
      .xl\:cursor-move { cursor:move; }
    }
@media (min-width: 1536px) {
      .2xl\:cursor-move { cursor:move; }
    }

    .cursor-not-allowed { cursor:not-allowed; }
@media (min-width: 475px) {
      .xs\:cursor-not-allowed { cursor:not-allowed; }
    }
@media (min-width: 640px) {
      .sm\:cursor-not-allowed { cursor:not-allowed; }
    }
@media (min-width: 768px) {
      .md\:cursor-not-allowed { cursor:not-allowed; }
    }
@media (min-width: 1024px) {
      .lg\:cursor-not-allowed { cursor:not-allowed; }
    }
@media (min-width: 1280px) {
      .xl\:cursor-not-allowed { cursor:not-allowed; }
    }
@media (min-width: 1536px) {
      .2xl\:cursor-not-allowed { cursor:not-allowed; }
    }

  