.login-wrapper {
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color: #ffffff;
}

.login-wrapper form {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
  align-items: start;
  text-align: left;
  gap: 5px;
}
.login-wrapper form br {
  height: 0px !important;
  margin: 0px !important;
}
.login-wrapper form input {
  width: 100%;
  padding: 10px 10px;
}
.login-wrapper form input[type='submit'] {
  margin: 10px 0;
  width: 100% !important;
  border: none !important;
  padding: 15px 10px;
  background-color: #b99731 !important;
  color: #ffffff !important;
  background-image: none !important;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.login-wrapper form label {
  text-align: left !important;
}

.mm-remember-me {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  white-space: nowrap;
  justify-content: start;
  align-items: center;
}
.mm-remember-me input {
  width: auto !important;
  margin-right: 10px;
}