<!-- wp:template-part {"slug":"header-general","theme":"hello-blocks-child","tagName":"header"} /-->

<!-- wp:uagb/container {"block_id":"4030ec21","minHeightDesktop":70,"minHeightType":"vh","wrapDesktop":"wrap","alignContentDesktop":"center","topPaddingDesktop":4,"bottomPaddingDesktop":4,"leftPaddingDesktop":1,"rightPaddingDesktop":1,"paddingType":"em","paddingLink":false,"variationSelected":true,"rowGapDesktop":40,"columnGapDesktop":0,"isBlockRootParent":true} -->
<div class="wp-block-uagb-container uagb-block-4030ec21 alignfull uagb-is-root-container">
    <div class="uagb-container-inner-blocks-wrap">
        <!-- wp:heading {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"800"},"elements":{"link":{"color":{"text":"var:preset|color|orange"}}}},"textColor":"orange","fontSize":"xx-large"} -->
        <h2 class="wp-block-heading has-text-align-center has-orange-color has-text-color has-link-color has-xx-large-font-size" style="font-style:normal;font-weight:800">404</h2>
        <!-- /wp:heading -->

        <!-- wp:heading {"textAlign":"center","style":{"typography":{"fontStyle":"normal","fontWeight":"800"}},"fontSize":"x-large"} -->
        <h2 class="wp-block-heading has-text-align-center has-x-large-font-size" style="font-style:normal;font-weight:800">Page not found!</h2>
        <!-- /wp:heading -->

        <!-- wp:uagb/buttons {"block_id":"be249641","classMigrate":true,"childMigrate":true} -->
        <div class="wp-block-uagb-buttons uagb-buttons__outer-wrap uagb-btn__default-btn uagb-btn-tablet__default-btn uagb-btn-mobile__default-btn uagb-block-be249641">
            <div class="uagb-buttons__wrap uagb-buttons-layout-wrap ">
                <!-- wp:uagb/buttons-child {"inheritFromTheme":false,"block_id":"dd627d95","fontWeight":"700","label":"HOME","link":"/","size":"","topPadding":1,"rightPadding":3,"bottomPadding":1,"leftPadding":3,"paddingUnit":"em","paddingLink":false,"color":"#ffffff","background":"#E98C00","icon":"house","iconPosition":"before","btnBorderTopWidth":0,"btnBorderLeftWidth":0,"btnBorderRightWidth":0,"btnBorderBottomWidth":0,"btnBorderTopLeftRadius":30,"btnBorderTopRightRadius":30,"btnBorderBottomLeftRadius":30,"btnBorderBottomRightRadius":30,"btnBorderStyle":"solid","btnBorderHColor":"#333"} -->
                <div class="wp-block-uagb-buttons-child uagb-buttons__outer-wrap uagb-block-dd627d95 wp-block-button">
                    <div class="uagb-button__wrapper">
                        <a class="uagb-buttons-repeater wp-block-button__link" aria-label="" href="/" rel="follow noopener" target="_self" role="button">
                            <div class="uagb-button__link">HOME</div>
                        </a>
                    </div>
                </div>
                <!-- /wp:uagb/buttons-child -->
            </div>
        </div>
        <!-- /wp:uagb/buttons -->
    </div>
</div>
<!-- /wp:uagb/container -->

<!-- wp:template-part {"slug":"footer-dense","theme":"hello-blocks-child","tagName":"footer"} /-->