<!-- wp:template-part {"slug":"header-default","tagName":"header"} /-->

<!-- wp:columns -->
<div class="wp-block-columns">
    <!-- wp:column {"width":"20%%"} -->
    <div class="wp-block-column" style="flex-basis:20%;background:#222;">
        <!-- wp:template-part {"slug":"sidebar-mm-dashboard","tagName":"aside"} /-->
    </div>
    <!-- /wp:column -->

    <!-- wp:column {"width":"80%"} -->
    <div class="wp-block-column p-4" style="flex-basis:80%">
        <!-- wp:shortcode -->
        [mm_training_by_day]
        <!-- /wp:shortcode -->
    </div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer-dense","tagName":"footer"} /-->